/*******************/
/* General styles */
/*****************/

body{
    background:linear-gradient(-45deg, black, rgb(11, 11, 109));
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

/****************/
/* Page Styles */
/**************/

.banner-container{
    background: linear-gradient(45deg, black, darkred);
    display: grid;
    grid-template-columns: 20% 80%;
    padding-top: 1%;
    width: 100%;
}

.logo{
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-name: logoAnimation;
    animation-timing-function: ease;
    grid-area: 1/1/2/2;
    opacity: 0;
    transform: translate(-100px);
    width: 90%;
}

@keyframes logoAnimation {
    0%{
        opacity: 0;
        transform: translate(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.headers-container{
    align-items: center;
    align-self: center;
    display: grid;
    grid-area: 1/2/2/3;
    grid-template-rows: 40% 60%;
    height: 100%;
    text-align: center;
    width: 100%;
}

.header-title{
    animation-delay:.35s;
    animation-duration: .65s;
    animation-fill-mode: forwards;
    animation-name: titleAnamation;
    color:white;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    height: fit-content;
    margin: 0;
    opacity: 0;
    padding: 0;
    text-shadow: 0 0 2.5px white;
}

@keyframes titleAnamation {
    0%{
        opacity: 0;
        transform: translate(0,50px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.header-subtitle{
    color:white;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    height: 100%;
    margin: 0;
    text-shadow: 0 0 2.5px white;
}


.navbar-menu{
    background-color: black;
    box-shadow: 0 0 20px 5px black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-options-container{ 
    background-color: black;
    display: flex;
    height: fit-content;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

.menu-option{
    background-color: black;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: fit-content;
    margin: 15px;
    text-align: center;
    transition-duration: 0.2s;
    z-index: 5;
}

.menu-link{
    color: inherit;
    display: block;
    text-decoration: none;
}

.currect-section{
    font-weight: 400;
}

.menu-option:hover{
    text-shadow: 0px 0px 10px white;
    transform: scale(1.35);
}

.search-option{
    align-items: center;
    background: linear-gradient(-45deg, black, rgb(11, 11, 109));
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px 0 5px 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    width: 200px;
}

.search-option:hover, .search-option:focus-within{
    box-shadow: 0 0 15px -5px red;
}

.search-input{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100%;
    margin-left: 5px;
    outline: none;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    width: 100%;
}

.search-input::placeholder{
    color: rgba(255, 255, 255, 0.75);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.search-icon{
    cursor: pointer;
    padding: 0 10px;
}

.no-wrap-search{
    flex-wrap: nowrap;
}

.expand-search-bar{
    width: 700px;
}

.main-container{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60vh;
}

.section-content{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    padding: 0 10%;
    text-align: justify;
    text-shadow: 0 0 20px black;
}

.cards-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    opacity: 0;
    width: 100%;
}

.cards-container-open-animation{
    animation: upEffect;
    animation-duration: 0.30s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform: translate(0,250px);
}

@keyframes upEffect {
    0%{
        transform: translate(0,250px);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}

.cards-container-close-animation{
    animation: downEffect;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes downEffect {
    0%{
        opacity: 1;    
    }
    100%{
        opacity: 0;
        transform: translate(0,250px);
    }
}

.card-container{
    background: linear-gradient(-45deg,#20206e,#3754d1);
    box-shadow: 0 0 5px 1px black;
    color: white;
    height: fit-content;  
    margin: 10px;
    transition-delay: 0.1s;
    transition-duration: 0.25s;
    width: 450px;
}

.card-container:hover{
    transform: scale(1.05);
    z-index: 10;
}

.card-container:hover > .card-info > .card-description{
    max-height: 100px;
}

.card-info{
    margin: 0;
    padding: 0 10px ;
}

.card-title{
    font-family: "Share Tech", monospace;
    font-size: xx-large;
    font-weight: 500;
    margin: 8px 0;
}

.card-description{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    max-height: 40px;
    margin: 8px 0;
    overflow:hidden;
    text-align: justify;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.card-tags{
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.page-link{
    color:white;
    transition-duration: 0.5s;
}

.card-container:hover > .card-info > .card-title > a >.page-link  {
    animation: worldLink;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes worldLink {
    0%{
        color:white;
        transform: scale(1);
    }
    50%{
        color: #070c2c;
        transform: scale(1.25);
    }
    100%{
        color:white;keyframes
        transform: scale(1);
    }
}

.direction-container{
    animation: upEffect;
    animation-delay: 0.15s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    flex-flow: column;
    margin: 5px 0 10px 0;
    opacity: 0;
    transform: translate(0,250px);
}

.contact-title{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: xx-large;
    max-width: 100%;
    text-align: center;
}

.email-container{
    height: 90%;
    width: 45%;
}

.subject-container{
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: center;
}

.email-label{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    grid-area: 1/1/2/2;
    margin-right: 10px;
    width: fit-content;
}

.email-subject{
    background: linear-gradient(45deg,rgba(139, 0, 0, 0.25),rgba(65, 5, 5, 0.25));
    border: 1px outset #ff095fc2;
    box-shadow: 0 0 7.5px 1px black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 300;
    grid-area: 1/2/2/3;
    outline: none;
    padding: 5px;
    transition-duration: 0.25s;
    width: 99%;
}

.email-subject::placeholder,.email-content::placeholder{
    color: rgba(245, 245, 245, 0.75);
}

.email-content{
    background: linear-gradient(45deg,rgba(139, 0, 0, 0.25),rgba(65, 5, 5, 0.25));
    border: 1px outset #ff095fc2;
    box-shadow: 0 0 7.5px 1px black;
    color: white;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 300;
    height: 100px;
    margin: 15px auto;
    outline: none;
    padding: 5px;
    resize: none;
    transition-duration: 0.25s;
    width: 99.5%;
}

.email-button{
    background: linear-gradient(45deg,rgba(139, 0, 0, 0.55),rgba(65, 5, 5, 0.5));
    border: 1px outset #ff095fc2;
    box-shadow: 0 0 7.5px 1px black;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: medium;
    font-weight: 400;
    margin: 0 auto;
    outline: none;
    padding: 10px;
    transition-duration: 0.25s;
}

.email-button:active{
    transform: scale(1.25);
}

.email-subject:hover, .email-subject:focus-within, .email-content:hover, .email-content:focus-within, .email-button:hover ,.email-button:focus-within{
    box-shadow: 0 0 7.5px 1px rgb(207, 23, 23);
}

.hiddenInput{
    border: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

/******************/
/* Footer styles */
/****************/

.footer-container {
    background: black;
    box-shadow: 0 0 20px 5px black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px;
}

.footer-content {
    color:white;
    margin: auto;
    width: fit-content;
}

.footer-link{
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.5s;
}

.footer-link:hover{
    text-shadow: 0 0 5px white;
}

.footer-bar{
    animation-name: footerBar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-width: 0.5px;
    margin: 10px auto;
    width: 10%;
}

@keyframes footerBar{
    0%{width: 10%;}
    40%{width: 10%;}
    50%{width: 75%;}
    60%{width: 10%;}
    100%{width: 10%;}
} 

.din{
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: din;
    animation-timing-function: ease-in-out;
    color:red;

}

@keyframes din {
    0%{text-shadow: 0 0 10px black;}
    40%{text-shadow: 0 0 10px black;}
    50%{text-shadow: 0 0 10px white;}
    60%{text-shadow: 0 0 10px black;}
    100%{text-shadow: 0 0 10px black;}
}

/***************/
/* Fixed menu */
/*************/

.fixed-button-menu{
    align-items: center;
    background: linear-gradient(45deg,rgba(65, 5, 5),rgba(139, 0, 0));
    border-radius: 50%;
    border:none;
    bottom:15px;
    color: white;
    cursor: pointer;
    display: block;
    display: grid;
    font-size: 20pt;
    height: 50px;
    margin: 0;
    outline: none;
    padding: 0;
    position:fixed;
    right:15px;
    transition-duration: 0.35s;
    width: 50px;
    z-index: 3;
}

.fixed-button-menu > .fas{
    font-size: 22.5px;
}

.hide-element{
    display: none;
}

.button-shadow{
    box-shadow: 1px 1px 10px 1px rgba(139, 0, 0, 0.85);
}

.first-button-position{
    box-shadow: 1px 1px 10px 1px rgba(139, 0, 0, 0.85);
    transform: translate(0,-60px);
}

.second-button-position{
    box-shadow: 1px 1px 10px 1px rgba(139, 0, 0, 0.85);
    transform: translate(0,-120px);
}

.third-button-position{
    box-shadow: 1px 1px 10px 1px rgba(139, 0, 0, 0.85);
    transform: translate(0,-180px);
}

/*****************/
/* Modal styles */
/***************/

.modal-container{
    align-items: center;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 5%;
    position: fixed;
    top: 0;
    transform: scale(0);
    width: 100%;
    z-index: 2;
}

.modal-open-animation{
    animation-duration: 0.35s;
    animation-name: modalOpenAnimation;
    animation-timing-function: ease-in;
    transform: scale(1);
}

@keyframes modalOpenAnimation {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}

.modal-close-animation{
    animation-duration: 0.25s;
    animation-name: modalCloseAnimation;
    animation-timing-function: ease-out;
    transform: scale(0);
}

@keyframes modalCloseAnimation {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.modal{
    background: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 95%;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}

.slider-container{
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px darkred;
    display: flex;
    margin: 0;
    max-height: 90%;
    overflow:hidden ;
    width: 100%;
}

.responsive-slider{
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    overflow-y: auto;
    width: 100%;
}

.responsive-slider-background{
    background: url('../media/spinnerLoader.gif  ');
    min-height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.slider-arrow{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 4vw;
    height: 100%;
    opacity: 0.35;
    outline: none;
    position: absolute;
    text-shadow: 0 0 5px black;
    transition-duration: 0.25s;
    width: 10%;
}

.slider-arrow:last-child{
    color: red;
    right: 7.5px;
}

.slider-arrow:first-child{
    color: red;
    left: 2.5px;
}

.slider-arrow:last-child:hover, .slider-arrow:first-child:hover{
    color:darkred;
    font-size: 5vw;
    opacity: 0.65;
    text-shadow: 0 0 3px black;
}

.slider-arrow:last-child:active, .slider-arrow:first-child:active{
    color: black;
    opacity: 0.65;
}

.slider-image{
    border-radius: 5px 0 0 5px;
    height: max-content;
    opacity: 1;
    transition-duration: 0.3s;
    width: 100%;
}

.transition-effect{
    opacity: 0;
}

.slider-caption{
    bottom: 0px;
    color: white;
    display: block;
    font-size: 16pt;
    height: fit-content;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px white;
    transition-duration: 0.3s;
    width: 100%;
    z-index: 30;
}

/***************/
/* Scrollbar  */
/*************/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:linear-gradient(to top,rgb(36, 36, 151),rgb(143, 47, 47));
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:linear-gradient(to top,rgb(11, 11, 109),darkred); 
} 

/********************/
/* Responsive text */
/******************/
/* I use fluid typography Made By Mike*/
/* https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */


/* Scren with a width equal or less than 320px  */
.header-fluid-text {
    font-size: 11px;
}

.footer-fluid-text {
    font-size: 11px;
}

.header-title-fluid-text{
    font-size: 30px;
}

.header-subtitle-fluid-text{
    font-size: 25px;
}

.section-content-fluid-text{
    font-size: 25px;
}

/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {

    .footer-fluid-text {
        /* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */
        font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
    }

    .header-title-fluid-text{
        /* Math syntax  y=mx+b, m (y2-y1/x2-x1) , x (full width (100vw - min viewport 320px)), b (min value of y min value for property) */
        font-size: calc( ((85 - 30) / (1920 - 320)) * (100vw - 320px) + 30px);
    }

    .header-subtitle-fluid-text{
        /* Math syntax  y=mx+b, m (y2-y1/x2-x1) , x (full width (100vw - min viewport 320px)), b (min value of y min value for property) */
        font-size: calc( ((90 - 25) / (1920 - 320)) * (100vw - 320px) + 25px);
    }

    .section-content-fluid-text{
        /* Math syntax  y=mx+b, m (y2-y1/x2-x1) , x (full width (100vw - min viewport 320px)), b (min value of y min value for property) */
        font-size: calc( ((50 - 25) / (1920 - 320)) * (100vw - 320px) + 25px);
    }

}

/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {

    .footer-fluid-text {
        font-size: 16px;
    }

    .header-title-fluid-text{
        font-size: 85px;
    }

    .header-subtitle-fluid-text{
        font-size: 90px;
    }

    .section-content-fluid-text{
        font-size: 50px;
    }

}

/***************************************/
/* Responsive Web Design media queries*/
/*************************************/

/* Smartphones (landcape)*/
@media (max-width:767px) {

    .menu-options-container{
        margin: 0 0 0 5px;
    }
    
    .menu-option{
        font-size: 14px;
    }

    .card-container{
        width: calc(50% - 20px);
    }
    
    .search-input{
        font-size: x-small;
    }

    .search-option{
        margin: 5px 20px 5px 5px;
    }

    .contact-title{
        font-size: 20px;
    } 

    .email-subject, .email-content{
        font-size: medium;
    }

    .slider-caption{
        bottom: 10px;
        font-size: small;
    }

}

/* Smartphones (portrait)*/
@media (max-width:420px) {

    .banner-container{
        grid-template-columns: 50% 50%;
    }    

    .navbar-menu{
        flex-wrap: wrap;
    }

    .search-option{
        margin: 0 20px 15px 20px;
    }

    .menu-option{
        width: 33.3%;
    }
    .card-container{
        width: 100%;
    }

    .email-container{
        height: 90%;
        width: 70%;
    }   

    .contact-title{
        width: 70%;
    }   

}

/* Smartphones (portrait)*/
@media (max-height:200px) {

    .fixed-button-menu{
        display: none;
    }

}

