<!DOCTYPE html>
<html>
    <head>

        <!-- Meta information (start) -->
        <title>x1hibi</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, React, VueJs, PHP, Laravel, Bootstrap, D3.js, mySQL, mongo ">
        <meta name="author" content="x1hibi">
        <meta name="description" content="Personal web page where I show my profile and web projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./media/icon.png">
        <meta name="theme-color" content="black">
        <!-- Meta information (end) -->

        <!-- Preload images  -->
        <link rel="preload" as="image" href="./media/logo.png" >
        <link rel="preload" as="image" href="./media/wireframe_home.png" >
        <link rel="preload" as="image" href="./media/wireframe_projects.png" >
        <link rel="preload" as="image" href="./media/wireframe_contact.png" >
        <link rel="preload" as="image" href="./media/html.png" >
        <link rel="preload" as="image" href="./media/css.png" >
        <link rel="preload" as="image" href="./media/js1.png" >
        <link rel="preload" as="image" href="./media/js2.png" >
        <link type="text/css" rel="stylesheet" href="./css/generalStyles.css">   
        <link type="text/css" rel="stylesheet" href="./css/myStyles.css">

    </head>

    <body onload="loader()">
        
        <!-- html template for card component (start) -->
        <script type="text/x-template" id="card">
            <figure class="card-container">
                <img :src=preview width="100%">
                <figcaption class="card-info">
                    <h3 class="card-title">{{title}} <a :href=url target="_blank" ><i class="fas fa-globe-americas page-link"></i></a></h3>
                    <h4 class="card-description">{{description}}</h4>
                    <p class="card-tags">{{"Tags: "   + tags.join(", ")}}</p>
                </figcaption>
            </figure>
        </script>
        <!-- html template for card component (end) -->

        <main id="app" class="main-container">

            <!-- Principal header (start)  -->
            <header class="banner-container" id="banner">
                <img src="media/logo.png" class="logo" alt="red dragon" />
                <div class="headers-container">
                    <h1 class="header-title header-title-fluid-text" >x1hibi</h1>
                    <h2 class="header-subtitle header-subtitle-fluid-text" id="typingEffect"></h2> 
                </div>
            </header>
            <!-- Menu bar (start)  -->
            <nav class="navbar-menu">
                <ul class="menu-options-container">
                    <li class="menu-option"><a href="./index.html" class="menu-link">HOME</a></li>
                    <li class="menu-option currect-section"><a onclick="window.scrollTo(0, document.getElementById('banner').offsetHeight)" class="menu-link">PROJECTS</a></li>
                    <li class="menu-option"><a href="./contact.html" class="menu-link">CONTACT</a></li>
                </ul>
                <div class="search-option" ><input type="text" class="search-input" id="searchInput" v-model="searchValue" placeholder="Search by tags" v-on:keyup.enter="sortByTags()" @input="resetSort()"><i class="fas fa-search search-icon" @click="sortByTags()"></i></div>
            </nav>
            <!-- Menu bar (end)  -->
            <!-- Principal header (end)  -->

            <!-- Principal content (start) -->
            <section class="cards-container cards-container-open-animation">
                <card-component v-for="project in projects" :preview=project.previewImage :url=project.urlProject :description=project.description :tags=project.tags :title=project.title></card-component>
            </section>
            <!-- Principal content (end) -->

            <!-- Footer (start)  -->
            <footer class="footer-container">
                <p class="footer-content footer-fluid-text"> <a class="footer-link"> x1hibi Web &nbsp;<i class="fas fa-dragon din" ></i></a></p>
                <hr class="footer-bar">
                <p class="footer-content footer-fluid-text">Copyright © 2021 x1hibi All rights reserved.</p>
            </footer>
            <!-- Footer (end)  -->

            <!-- Modal of fixed button (start) -->
            <section class="modal-container" id="modalContainer" onclick="buttonMenu(event)">
                <!-- Wireframes and code -->
                <figure class="modal">
                    <div class="slider-container">
                        <div class="responsive-slider responsive-slider-background" id="sliderContainer">
                            <button class="slider-arrow" onclick="modalSlider('previus')"><i class="fas fa-arrow-left"></i></button>
                            <img class="slider-image" src="#" id="sliderImage">
                            <button class="slider-arrow" onclick="modalSlider('next')"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <figcaption class="slider-caption" id="sliderCaption">text</figcaption>
                </figure>
            </section>
            <!-- Modal of fixed button (end) -->
    
            <!-- Button Menu (start) -->
            <button class="fixed-button-menu" onclick="buttonMenu('wireframe')" id="wireframe" title="Wireframes"><i class="fas fa-columns"></i></button>
            <button class="fixed-button-menu" onclick="buttonMenu('diagram')" id="diagram" title="Flow diagram"><i class="fas fa-project-diagram"></i></button>
            <button class="fixed-button-menu" onclick="buttonMenu('code')" id="code" title="Code"><i class="fas fa-code"></i></button>
            <button class="fixed-button-menu button-shadow" onclick="buttonMenu('closeMenu')"><i class="fas fa-times" title="Close menu"></i></button>
            <button class="fixed-button-menu" onclick="buttonMenu('openMenu')" id="fixedMenu"><i class="fas fa-list" title="Menu"></i></button>
            <!-- Button Menu (end) -->

        </main>

        <!-- Loader page -->
        <div id="loader" class="loader-container"><span class="loader">&lt;/&gt; </span></div>

        
    </body>

    <!-- Js and css files (start) -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600;1,700&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Share+Tech&family=Share+Tech+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue" defer></script>
    <script src="./js/app.js" type="module" defer></script>
    <script src="./js/fixedMenuAndModalSlider.js" type="text/javascript" defer></script>
    <script src="./js/fontAsome.js" crossorigin="anonymous" type="text/javascript"></script>
    <!-- Js and css files (end) -->

</html>