
html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px gray;
    font-size: x-large;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

body{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1,h2,h3 {
    text-align: center;
}

button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    font-size: large;
    cursor: pointer;
    transition-duration: 0.25s;
}

button:hover{
    box-shadow: 0 0 5px gray;
}

.board{
    background-color: #0a1727;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    line-height: 9px;
    text-align: center;
    padding: 10px 13px 13px 10px;
    width: fit-content;
}

.menuContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
}

@media (min-height: 412px) and (min-width: 916px) {

    html {
        overflow-y: hidden;
    }


    body{
        height: 100vh;
    }

    .menuContainer{
        width: fit-content;
        display: block;
        margin: 15px auto;
    }

}