/*******************/
/* Root Variables */
/*****************/
:root{
     /* text color  */
    --text-color-main: black;
    --text-color-secondary:darkslategrey;
    /* background color */
    --navbar-background:white;
    --gradient-background:#f7f7f7;
    --body-padding: 10px 0 5px 0;background:#f8f8ff90;
    /* other styles vars  */
    --time-transition:0.5s;
    --semi-black-color:rgba(0, 0, 0, 0.65);
    --shadow-color:rgb(128 128 128 / 35%);
    /* code styles */
    --var:rgb(160, 148, 148);
    --reserved-word:darkblue;
    --function:darkgreen;
    --string:brown;
}

/****************/
/* Page Styles */
/**************/

.header-container{
    background-color: var(--navbar-background);
    box-shadow: 0 0 3px 1px var(--shadow-color);
    color:var(--text-color-main);
    height: 50px;
    padding: 10px;
    position:sticky;
    transition-duration: var(--time-transition);
    width: 100%;
}

.flex-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.header-text{
    font-family: 'Oxygen', monospace;
    font-size: xx-large;
    font-weight: 200;
    margin: 0;
    padding-top: 5px;
    text-align: center;
    text-shadow: 0 0 5px #ffffff50;
}

.logo-container{
    background: linear-gradient(to right, #ddcece, #2a2727);
    border-radius: 50%;
}

.logo{
    color: white;
    font-family: 'oxygen', monospace;
    font-size: x-large;
    font-style: italic;
    font-weight: 400;
    padding: 10px 5px 12px 5px;
    text-shadow: 1px 1px 2px #050528;
}

.burger-menu{
    background: transparent;
    border: none;
    display: none;
    outline: none;
    padding: 0;
}

.line1{
    box-shadow: 1px 1px 2px 1px gray;
    transition-duration: 0.25s;
}

.line2{
    box-shadow: 1px 1px 2px 1px gray;
    transition-duration: 0.25s;
}

.line3{
    box-shadow: 1px 1px 2px 1px gray;
    transition-duration: 0.25s;
}

.burger-menu-line1{
    transform: rotate(45deg) translate(5px, 7px);
}

.burger-menu-line2{
    opacity: 0;
}

.burger-menu-line3{
    transform: rotate(-45deg) translate(4px, -8px);
}

.main-container{
    background: var(--body-background);
    justify-content: space-around;
    padding: 50px ;
    transition-duration: var(--time-transition);
}

.table-content-container{
    align-self: flex-start;
    background-color: var(--navbar-background);
    border-radius: 15px;
    box-shadow: 0 0 3px #808080ad;
    overflow-x: hidden;
    padding: 15px 0 15px 15px;
    transition-duration: var(--time-transition);
    width: 400px;
}

.table-title{
    color: var(--text-color-secondary);
    font-weight: 500;
    transition-duration: var(--time-transition);
    width: fit-content;
}

.menu-rule{
    border-color: #9767ff35;
    margin:5px 0;
}

.title-rule{
    border-width: 0;
    box-shadow: 0 0 2px 1px #80808080;
}

.list-container{
    margin: 0;
    padding-inline-start: 15px;
}

.list-item {
    display: block;
}

.nav-link{
    background-image: url("../media/gradient.png");
    background-position: 0 0 ;
    border-radius: 0 25px 25px 0;
    color: var(--text-color-main);
    display: block;
    padding: 10px 0px 10px 5px;
    text-decoration: none;
    transition-duration: 0.35s;
    width: 250px;
}

.nav-link::before{
    content: "· ";
}

.bullet-title::before{
    content: "• ";
} 

.nav-link:hover{
    background-position: 400px 0 ;
}

.nav-link:visited{
    text-decoration: underline;
}

.space-container{
    width: 50px;
}

.documentation-container{
    background: linear-gradient(to top, var(--gradient-background), var(--navbar-background));
    box-shadow: 2px 2px 5px 1px var(--shadow-color);
    color: var(--text-color-main);
    height: calc(100vh - 70px - 78px - 100px - 25px);
    overflow-y: scroll;
    padding: 0 25px 25px 25px;
    scroll-behavior: smooth;
    transition-duration: var(--time-transition);
    width: 100%;
}

.documentation-container p{
    text-align: justify;
}

.section-title{
    font-family:'Oxygen', sans-serif;
    font-size: xxx-large;
    padding-top: 20px;
}

.info-list a{
    color: hotpink;
    text-decoration: none;
}

.section-subtitle{
    font-family:'Oxygen', sans-serif;
    font-size: xx-large;
    padding-top: 20px;
    color: black !important;
}

.hello-world{
    color: var(--semi-black-color);
    font-family: 'Share Tech mono', monospace;
    font-size: xxx-large;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(61, 45, 45, 0.5),
    1px 2px 1px white,
    1px 3px 1px white,
    1px 5px 5px rgba(128, 128, 128, 0.5),
    1px 10px 10px rgba(128, 128, 128, 0.5);
    text-transform: uppercase;
}

.code-container{
    background-color: var(--navbar-background);
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 10px 1px var(--shadow-color);
    padding: 5px;
    position: relative;
    transition-duration: var(--time-transition);
}

.copy-button{
    line-height: initial;
    background-color: transparent;
    border:none;
    color: var(--semi-black-color);
    cursor: pointer;
    font-size: xx-large;
    outline: none;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.25s;
}

.tooltip{
    background-color: rgba(0, 0, 0, 0.65);
    clip-path: polygon(0% 0%, 90% 0, 90% 36%, 100% 50%, 90% 66%, 90% 100%, 0 100%);
    color: white;
    font-size: medium;
    opacity: 0;
    padding: 5px 15px 5px 5px;
    position: absolute;
    right: 43px;
    top: 8px;
    transition-duration: 0.25s;
}

.copy-button:hover, .copy-button:active{
    text-shadow: 0px 0px 0.5px ;
}

.copy-button:hover ~ .tooltip{
    opacity: 1;
}

.hidden{
    font-size: small;
    height: 1px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}

.code{
    display: block;
    margin: 25px 25px 20px 20px;
    overflow-x: auto;
}

.comment{
    color: gray;
}

.var{
    color: var(--var);
}

.reserved-word{
    color: var(--reserved-word);
}

.function{
    color: var(--function);
}

.string{
    color: var(--string);
}

.info-list{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    list-style: none;
    padding-inline-start: 0;
}

.info-list li {
    padding: 5px
}

/********************/
/* Responsive text */
/******************/
/* I use fluid typography Made By Mike*/
/* https://www.madebymike.com.au/writing/fluid-type-calc-examples/ */


/* Scren with a width equal or less than 320px  */

.footer-fluid-text {
    font-size: 11px;
}


/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {

    .footer-fluid-text {
        /* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */
        font-size: calc(11px + 5 * ((100vw - 320px) / 1600));
    }

}

/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {

    .footer-fluid-text {
        font-size: 16px;
    }

}

/***************************************/
/* Responsive Web Design media queries*/
/*************************************/

@media (max-width:1023px){

    body{
        font-size: large;
    }

    .header-container{
        justify-content: space-between;
        padding:0;
        width: 100%;
    }

    .logo-container{
        margin-left: 15px;
    }

    .logo{
        font-size: large;
        padding: 8px 3px 10px 3px;
    }

    .header-text{
        font-size: x-large;
        padding: 0;
    }
    
    .burger-menu{
        display: block;
        height: 50px;
        margin-right: 15px;
        padding: 0 7.5px;
        width: 50px;
    }

    .nav-link{
        width: 90vw;
    }

    .nav-link:hover{
        background-position: 300px 0 ;
        color: black;
    }
    
    .table-content-container,.space-container{
        display: none;
    }

    .full-table-content{
        border-radius: 0;
        display: block;
        height: calc(100vh - 50px);
        left: -768px;
        margin-top: 0;
        overflow-y: scroll;
        position: fixed;
        top:50px;
        width: 100vw;
        z-index: 5;
    }

    .fadeIn{
        animation: fadeIn 0.3s ease-in-out forwards;
    }

    .fadeOut{
        animation: fadeOut 0.3s ease-in-out forwards;
    }

    @keyframes fadeIn {
        0%{
            left: -1024px;
        }
        100% {
            left: 0;
        }
    }

    @keyframes fadeOut {
        0%{
            left: 0;
        }
        100% {
            left: -1024px;
        }
    }

    .main-container {
        padding: 15px;
    }

    .documentation-container{
        height: calc(100vh - 50px - 30px - 68px - 25px );
        padding: 0 20px 25px 20px;
    }

    .section-title{
        font-size: xx-large;
    }

    .section-subtitle{
        font-size: x-large;
    }

    .footer-container{
        padding: 10px 0 5px 0;
    }
}