<!DOCTYPE html>
    <head>
    <!-- Meta information -->
    <title>Compound Interest</title>
    <meta charset="UTF-8">
    <meta name="author" content="x1hibi">
    <meta name="description" content="This is a comparation of compound interest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0a1727"/>
    <link rel="icon" href="./media/icon.png" >
    <!-- load styles and inmediate resources -->
    <link type="text/css" rel="stylesheet" href="./css/style.css">   
    <!-- Preconnet files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

    <body id="body">
        <main id="app" >
            <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
                <linearGradient id="my-cool-gradient" x2="1" y2="1">
                  <stop offset="0%" stop-color="#447799" />
                  <stop offset="50%" stop-color="#224488" />
                  <stop offset="100%" stop-color="#0a1727" />
                </linearGradient>
            </svg>
            <header class="header-container flex-container">
                <nav id="navigationMenu" class="menu-container">
                    <a class="menu-link">x1hibi</a>
                </nav>
                <nav id="navigationMenu" class="menu-container">
                    <a class="menu-link menu-selection">Graficador</a>
                </nav>
                <button class="menu-burger-button" @click="showMenu('burger')">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </header>
            <main class="main-container">
                <!-- Setting Bar START-->


                <aside id="settingsMenu" class="settings-container">
                    <h2 class="settings-title"><i class="fa-solid fa-flask"></i> AJUSTES</h2>
                    
                    <section class="settings-sub-container">
                        <h3 class="settings-subtitle">Datos iniciales</h3>
                        <section class="settings-sub-sub-container">
                            <article>
                                <label class="settings-label">Cantidad a invertir al año</label>
                                <input class="settings-input" type="number" step="1" min="1" max="10000" v-model="monthValue" placeholder="Monto a ahorrar" @change="changeInputValue(0)">
                                <span class="settings-label-unit">MX</span>
                            </article>
                            <article>
                                <label class="settings-label">Tiempo</label>
                                &nbsp;&nbsp;&nbsp;&nbsp;<input class="settings-input" type="number" step="1" min="1" max="100" v-model="age" placeholder="Edad" @change="changeInputValue(0)">
                                <span class="settings-label-unit">Años</span>
                            </article>



                        </section>


                    </section>
                    <br>

                   

                </aside> 
            
                <!-- Setting Bar END-->
                <section id="graph" class="graph-container">

                </section>
                <button id="settingsButton" class="menu-settings-button" @click="showMenu('settings')">
                    <i class="fa-solid fa-gear"></i>
                </button>

                <div id="tooltip" class="tooltip">
                    <span></span>
                    <br>
                    <span></span>
                </div>
            </main>
            <footer class="footer-container">
                <p>Copyright ©2023 CSS</p>
                <section class="flex-container">
                    <a class="social-media flex-container"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-youtube"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-tiktok"></i></a>
                </section>
            </footer>

        </main>

    </body>


    <script src="./js/d3.js" type="text/javascript" defer></script>
    <script type="text/javascript" src="./js/app.js" defer></script>
    <script src="./js/fontAsome.min.js" type="text/javascript" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



</html>
